environment {                                                                    
    QT_QPA_PLATFORM "wayland"
    //DISPLAY null
}
output "VGA-1" {
    mode "1366x768@59.790"
    scale 1.0
    transform "normal"
}
hotkey-overlay {
    skip-at-startup
}
input {
    warp-mouse-to-focus
    keyboard {
        xkb {
            layout "us"
        }
    }
}
layout {
    gaps 0
    center-focused-column "never"
    focus-ring {
        off
    }
    border {
        //off
        width 2
        active-color "#4d4d4d"
        inactive-color "#4d4d4d"
    }
}
spawn-at-startup "wbg" "/home/tomy/filez/pics/city.png"
spawn-at-startup "yambar"
spawn-at-startup "lavalauncher"
spawn-at-startup "mako"
prefer-no-csd
screenshot-path "~/filez/ ss_%H:%M--%a-%d-%Y.png"

animations {
    slowdown 1.8
    window-open {
        duration-ms 300
        curve "ease-out-cubic"
    }
    window-close {
        duration-ms 300
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.5 stiffness=700 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=0.5 stiffness=500 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=0.5 stiffness=700 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.5 stiffness=800 epsilon=0.001
    }
}
window-rule {
    open-maximized false
}
window-rule {
    match app-id="chromium"
    match app-id="inkscape"
    open-maximized true
}
binds {
    F1 { focus-column-left; }
    F2 { focus-column-right; }
    F4 { maximize-column; }
    F5 { fullscreen-window; }
    F6 { power-off-monitors; }
    Insert { spawn "~/.local/bin/mount.sh"; } 
    Home { spawn "~/.local/bin/umount.sh"; } 
    End { close-window; }
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Up    { focus-window-up; }
    Mod+Down  { focus-window-down; }
    Mod+C { center-column; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+R { switch-preset-column-width; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Space       { switch-layout "next"; }
    Mod+Shift+Space { switch-layout "prev"; }
}                                       
