# dark niri settings

Function("SfwbarInit") {
  SetLayer "overlay"
  SetBarSize "585px"
  SetBarSensor "1000"
  SetExclusiveZone = "0"
}

layout "sfwbar" {
  css = "* { -GtkWidget-halign: center; }"
  button {
    style = "launcher"
    value = "chromium"
    action = "chromium"
    action[3] = "chromium https://youtube.com"
    action[ScrollUp] = "chromium https://instagram.com"
    action[ScrollDown] = "chromium https://web.whatsapp.com"
  }
  button {
    style = "launcher"
    value = "inkscape"
    action = "inkscape"
  }
  button {
    style = "launcher"
    value = "tilix"
    action = "tilix"
    action[3] = "galculator"
  }
  button {
    style = "launcher"
    value = "folder"
    action = "pcmanfm"
  }
  button {
    style = "launcher"
    value = "drive-removable-media"
    action = "mount.sh"
    action[3] = "umount.sh"
  }
  button {
    style = "launcher"
    value = "scanner"
    action = "gscan2pdf"
  }
  button {
    style = "launcher"
    value = "eom"
    action = "eom"
  }
  button {
    style = "launcher"
    value = "camera-web"
    action = "niri msg action screenshot"
    action[3] = "niri msg action screenshot-window"
    action[ScrollUp] = "niri msg action screenshot-screen"
  }
  grid {
    css = "* { -GtkWidget-direction: bottom; }"
    label {
      value = Time("%H:%M")
      style ="clock"
      action = "date.sh"
    }
    label {
      value = Time("%d %b %Y")
      style ="date"
    }
  }


  button {
    style = "power"
    value = "system-shutdown-symbolic"
    action = "systemctl poweroff"
    action[3] = "systemctl reboot"
    action[ScrollUp] = "niri msg action quit"
  }

}

#CSS
window {
  -GtkWidget-direction: bottom;
  background-color: rgba(22,22,26,0.84);
  border-radius: 8px;
}

button,
button image {
  background-image: unset;                                                   
  border-image: unset;
  box-shadow: unset;
  outline-style: unset;
  border-radius: 0;
  border: 0px;
  min-height: 40px;
  min-width: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: transparent;
  -GtkWidget-vexpand: true;
}
button:hover, label:hover {
  background-color: rgba(63,63,75,0.8);
  border-radius: 14px;
  padding-right: 17px;
  padding-left: 17px;
}
button#power:hover {
  background-color: rgba(203,56,36,0.8);
  color: #cecece;
  border-radius: 26px;
  padding-right: 17px;
  padding-left: 17px;
}
label {
  font: 14px Cantarell;
  color: #a3a3b0;
}
label#clock {
  color: #a3a3b0;
  font: 18px Cantarell;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  -GtkWidget-vexpand: true;
  -GtkWidget-halign: fill;
}
label#date {
  color: #a3a3b0;
  font: 12px Cantarell;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 8px;
  -GtkWidget-vexpand: true;
  -GtkWidget-valign: center;
}
button#power image {
  min-height: 18px;
  min-width: 18px;
  margin-top: 6px;
  margin-bottom: 6px;
  paading: 0px;
}

