# dark niri settings

Function("SfwbarInit") {
  SetLayer "launcher". "overlay"
  SetBarSize "launcher", "610px"
  SetBarSize "panel", "1350px"
  SetBarSensor "launcher", "1000"
  SetBarSensor "panel", "2000"
  SetExclusiveZone "launcher", "0"
  SetExclusiveZone "panel", "0"
}
layout "panel" {
  taskbar {
    css = "* { -GtkWidget-hexpand: true; }"
    style = "taskbar"
    rows = 1;
    icons = true;
    labels = true;
    sort = false;
    action[3] = "niri msg action close-window"
    action[ScrollUp] = "niri msg action move-column-left"
    action[ScrollDown] = "niri msg action move-column-right"
  }
}

layout "launcher" {
  css = "* { -GtkWidget-halign: center; }"
  button {
    style = "launcher"
    value = "drive-removable-media"
    action = "mount.sh"
    action[3] = "umount.sh"
  }
  button {
    style = "launcher"
    value = "scanner"
    action = "gscan2pdf"
  }
  button {
    style = "launcher"
    value = "folder"
    action = "pcmanfm"
    action[3] = "galculator"
  }
  button {
    style = "launcher"
    value = "inkscape"
    action = "inkscape"
  }
  button {
    style = "launcher"
    value = "chromium"
    action = "chromium"
    action[3] = "chromium https://youtube.com"
    action[ScrollUp] = "chromium https://instagram.com"
    action[ScrollDown] = "chromium https://web.whatsapp.com"
  }
  button {
    style = "launcher"
    value = "tilix"
    action = "tilix"
    action[3] = "tilix -e top -u tomy"
    action[ScrollUp] = "tilix -e sudo pacman -Syu"
  }
  button {
    style = "launcher"
    value = "eom"
    action = "eom"
  }
  button {
    style = "ss"
    value = "computer-symbolic"
    action = "niri msg action screenshot"
    action[3] = "niri msg action screenshot-window"
    action[ScrollUp] = "niri msg action screenshot-screen"
  }
  button {
    style = "power"
    value = "system-shutdown-symbolic"
    action = "systemctl poweroff"
    action[3] = "systemctl reboot"
    action[ScrollUp] = "niri msg action quit"
  }
  grid {
    css = "* { -GtkWidget-direction: bottom; }"
    label {
      value = Time("%H:%M")
      style ="clock"
      action = "date.sh"
    }
    label {
      value = Time("%d %b %Y")
      style ="date"
    }
  }

}

#CSS
window#panel {
  -GtkWidget-direction: top;
  background-color: transparent;
}
window#launcher {
  -GtkWidget-direction: bottom;
  border-radius: 12px 12px 0px 0px;
  background-color: rgba(22,22,26,0.84); 
}

button, button image {
  background-image: unset;                                                   
  border-image: unset;
  box-shadow: unset;
  outline-style: unset;
  border-radius: 0;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  -GtkWidget-vexpand: true;
}
button#taskbar_active {
  -GtkWidget-hexpand: true;
  -GtkWidget-halign: fill;
  background-color: #a3a3b0;
  border-radius: 0px 0px 12px 12px;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
}
button#taskbar_normal {
  background-color: #282830;
  border-radius: 0px 0px 12px 12px;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  -GtkWidget-hexpand: true;
  -GtkWidget-halign: fill;
}
button#taskbar_active image, button#taskbar_normal image {
  min-width: 16px;
  min-height: 16px;
  padding-right: 6px;
  padding-left: 6px;
}

button#taskbar_active label {
  padding-top: 0px;
  padding-bottom: 0px;
  font: 14px Cantarell;
  font-weight: bold;
  color: #16161a;
  -GtkWidget-hexpand: true;
  -GtkWidget-halign: fill;
}
button#taskbar_normal label {
  padding-top: 0px;
  padding-bottom: 0px;
  font: 14px Cantarell;
  color: #a3a3b0;
  -GtkWidget-hexpand: true;
  -GtkWidget-halign: fill;
}
button#taskbar_active:hover, button#taskbar_normal:hover {
  margin-left: 18px;
  margin-right: 18px;
}

button#launcher {
  background-image: unset;                                                   
  border-image: unset;
  box-shadow: unset;
  outline-style: unset;
  border-radius: unset;
  border: 0px;
  min-height: 48px;
  min-width: 48px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: transparent;
  -GtkWidget-vexpand: true;
}
button#launcher:hover {
  background-color: #a3a3b0;
  border-radius: 12px 12px 0px 0px;
  padding-right: 17px;
  padding-left: 17px;
}
button#power:hover {
  background-color: #c83737;
  color: #cecece;
  border-radius: 26px;
  padding-right: 17px;
  padding-left: 17px;
}
button#ss:hover {
  background-color: #3771c8;
  color: #cecece;
  border-radius: 26px;
  padding-right: 17px;
  padding-left: 17px;
}

button#power image, button#ss image {
  min-height: 28px;
  min-width: 28px;
  margin-top: 4px;
  margin-bottom: 4px;
  paading: 0px;
}
label#clock {
  color: #a3a3b0;
  font: 18px Cantarell;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  -GtkWidget-vexpand: true;
  -GtkWidget-halign: fill;
}
label#date {
  color: #a3a3b0;
  font: 12px Cantarell;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 8px;
  -GtkWidget-vexpand: true;
  -GtkWidget-valign: center;
}

